@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@300;600;700&display=swap);
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
  color: #6f6f6f;
}

a:hover {
  color: #1f1f1f;
}

.container {
  width: 1258px;
  margin: 0 auto;
}

header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

header .logo {
  color: #222;
  font-weight: 600;
  font-size: 25px;
}

header nav a {
  margin-left: 15px;
}

header form {
  display: inline-block;
}

.presentation {
  background: url("/img/news.png") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #727272;
  position: relative;
}

.presentation::after {
  content: "Лучшие новости со всего мира!";
  position: absolute;
  top: 100px;
  left: 50px;
  color: #fafafa;
  font-weight: 600;
  font-size: 45px;
  width: 300px;
}

.presentation::before {
  content: "Только самое интересное!";
  position: absolute;
  top: 300px;
  left: 50px;
  color: #d7d7d7;
  font-size: 15px;
}

.block {
  width: 100%;
  padding: 20px;
  border: 1px solid silver;
  border-bottom-width: 2px;
  background: #ebebeb;
  line-height: 170%;
  margin-bottom: 25px;
}

.block h1 {
  margin-bottom: 15px;
}

.block ul,
.block ol {
  margin-top: 5px;
  width: 90%;
  margin-left: 5%;
}

.blog {
  width: 100%;
  padding: 20px;
  border: 1px solid silver;
  border-bottom-width: 2px;
  background: rgb(195, 239, 195);
  line-height: 170%;
  margin-bottom: 25px;
  margin-bottom: 15px;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.articles .post {
  width: 27%;
  padding: 20px;
  background: #f1f1f1;
  margin-bottom: 20px;
}
.articles .post a {
  display: inline-block;
  margin-top: 15px;
  background: #bebebe;
  border-radius: 5px;
  padding: 10px 12px;
  color: #fff;
  transition: all 0.5s ease;
}
.articles .post a:hover {
  transform: scale(1.1) translateY(-2px);
}
.articles .post h2 {
  font-weight: 600;
}
.articles .post img {
  width: 100%;
  margin-bottom: 10px;
}

.articles.one .post {
  width: 100%;
  border: 1px solid silver;
  border-bottom-width: 2px;
}

.back-button {
  display: inline-block;
  margin-top: 15px;
  background: #bebebe;
  border-radius: 5px;
  padding: 10px 12px;
  color: #fff;
  transition: all 0.5s ease;
}
.back-button:hover {
  transform: scale(1.1) translateY(-2px);
}

form.article-form {
  margin-top: 20px;
}
form.article-form .login-btn {
  display: block;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: #5f9f4b;
  border-radius: 5px;
  width: 120px;
  color: #fff;
  border: 0;
  transition: all 0.5s ease;
}
form.article-form .login-btn:hover {
  background: #3d8151;
}
form.article-form input[type=checkbox] {
  width: initial;
}
form.article-form label {
  display: inline-block;
  margin-bottom: 10px;
}
form.article-form input,
form.article-form textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid silver;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}
form.article-form input[type=submit] {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: #d45858;
  border-radius: 5px;
  width: 120px;
  color: #fff;
  border: 0;
  transition: all 0.5s ease;
}
form.article-form input[type=submit]:hover {
  background: #a63f3f;
}
form.article-form .delete-button {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: #f25050;
  border-radius: 5px;
  width: 120px;
  color: #fff;
  border: 0;
  transition: all 0.5s ease;
}
form.article-form .delete-button:hover {
  background: #8f1c1c;
}
form.article-form .add-button.mess {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: #65a73a;
  border-radius: 5px;
  width: 200px;
  color: #fff;
  border: 0;
  transition: all 0.5s ease;
}
form.article-form .add-button.mess:hover {
  background: #236114;
}

.error-mess {
  padding: 15px 20px;
  color: #fff;
  margin-bottom: 20px;
  background: #d45858;
}

.success-mess {
  padding: 15px 20px;
  color: #fff;
  margin-bottom: 20px;
  background: #6ab05a;
}

.product {
  width: 100%;
  padding: 20px;
  border: 1px solid silver;
  border-bottom-width: 2px;
  background: #e2f6e1;
  line-height: 170%;
  margin-bottom: 25px;
  margin-bottom: 15px;
}

.details {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: #5f9f4b;
  border-radius: 5px;
  width: 120px;
  color: #fff;
  border: 0;
  transition: all 0.5s ease;
}
.details:hover {
  background: #3d8151;
}

.backToShop {
  display: inline-block;
  margin-top: 15px;
  background: #bebebe;
  border-radius: 5px;
  padding: 10px 12px;
  color: #fff;
  transition: all 0.5s ease;
}
.backToShop:hover {
  transform: scale(1.1) translateY(-2px);
}

.toBye {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: #576db0;
  border-radius: 5px;
  width: 120px;
  color: #fff;
  border: 0;
  transition: all 0.5s ease;
}
.toBye:hover {
  background: #434288;
}

.toRegister {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: #e0a068;
  border-radius: 5px;
  width: 120px;
  color: #fff;
  border: 0;
  transition: all 0.5s ease;
}
.toRegister:hover {
  background: #d7863f;
}

.comments {
  width: 100%;
}
.comments .comment {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  background: #adadb0;
  color: #fff;
  border-radius: 2px;
}
.comments .comment a {
  margin-left: 20px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
